a.navbar-brand{
    margin-left: 10px;
    padding: 10px;
    background-color: #e96b86;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.page-footer{
    background-color: rgb(123, 121, 121);
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-copyright{
    color: white;
    border-top: 5px solid #e96b86;
}

h3{
    color: #e96b86;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;  
}

.thumbnail{
    padding: 10px;
    border: none;
}

.square{
    float: left;
    margin: 5px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: justify;
    padding: 10px;
}

body{
    background-color: rgb(223, 222, 222);
}

.col-md-12{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 40px;
}

.navbar{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 40px;
}

.nav-item.dropdown.show{
    background-color: #ddd;
}

.dropdown-menu{
    margin: 0;
}

.content{
    padding-top: 50px;
    padding-bottom: 80px;
    overflow: hidden;
}

.content.bg-white{
    margin-top: 15px;
}

tr>th:nth-child(1),
tr>th:nth-child(3),
tr>th:nth-child(6),
tr>th:nth-child(7),
tr>th:nth-child(8),
tr>th:nth-child(9),
tr>th:nth-child(10),
tr>td:nth-child(1),
tr>td:nth-child(3),
tr>td:nth-child(6),
tr>td:nth-child(7),
tr>td:nth-child(8),
tr>td:nth-child(9),
tr>td:nth-child(10) {
    text-align: left;
}

@media(max-width:767px){
    .navbar.bg-light{
        background-color: #e96b86 !important;    
    }
    .navbar-collapse{
        background-color: #f8f9fa;
    }
    .navbar{
        padding:inherit;
    }
}